body{
	background-color: #F2F2F2;
}
.navbar{
margin-bottom: 0px;
}
.big-padding{
	padding: 30px;
}
.blue-grey{
	background-color:#424242;
}
.white{
	background-color: white;
}
.white-text{
	color:white;
}

.floating{
	position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 100;
}